<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Curso Básico de Vue.js | Platzi</title>
        <link rel="stylesheet" href="./styles.css">
    </head>

    <body>
        <div id="app" v-bind:style="{ background: '#' + color }">
            <img 
                v-on:mouseover="toggleShowPrices" 
                v-on:mouseout="toggleShowPrices" 
                v-bind:src="img" 
                v-bind:alt="name"/>

            <!-- v-bind:class : con ternari -->
            <h1 v-bind:class="changePercent > 0 ? 'green' : 'red'">
                {{ title }}

                <!-- v-if permite que solo se muestre esta propiedad si x elemente cumple con una condición. 
                    Oculta el resto de elementos.
                    Este es recomendado si el elemento va a ser fijo o solo va a cambiar una vez
                 -->
                <span v-if="changePercent > 0">
                     👍
                </span>
                <span v-else-if="changePercent < 0">
                     👍
                </span>
                <span v-else>
                     👍
                </span>

                <!-- v-on: directiva que permite ejecutar x código según evento -->
                <span v-on:click="toggleShowPrices">
                    <!-- En base al valor de toggleShowPrices mostraremos un texto u otro -->
                    {{ showPrices ? 'Ocultar' : 'Ver' }}
                </span>

                <!-- 
                    v-if permite que solo se muestre esta propiedad si x elemente cumple con una condición. 
                    Cambia el display del elemento. 
                    Este es recomendado si el elemento va a estar cambiando constantemente para evitar 
                    tanta mut ación.
                -->

                <!--<span v-show="changePercent > 0">
                     👍
                </span>
                <span v-show="changePercent < 0">
                     🍔 
                </span>
                <span v-show="changePercent == 0">
                     🇱🇻 
                </span>-->

            </h1>

            <!-- v-model: permite realizar cambios en la vista    -->
            <input v-model="value">
                <span>
                    {{ convertedValue }}
                </span>
            </input>


            <!-- 
                v-for: permite renderizar una lista 
                v-bind:key : permite identificar de manera unívoca a los elementos de la lista
            -->
            <!--<ul>
                <li v-for="price in prices" v-bind:key="price">{{ price }}</li>
                <li v-for="(element, indice) in prices" v-bind:key="element">
                    {{ indice }} - {{ element }}
                </li>
            </ul>-->

            <ul v-show="showPrices">
                <!-- 
                    v-bind:class : con objetos 
                    las class son compatibles en conjunto con el uso de v-bind:class
                -->
                <li 
                    class="uppercase"
                    v-bind:class="{
                        orange : price.value == priceCurrent,
                        red : price.value < priceCurrent,
                        green : price.value > priceCurrent
                    }"
                    v-for="(price, indice) in pricesWithDays" 
                    v-bind:key="price.day">

                    {{ indice }} - {{ price.day }} - {{ price.value }}

                </li> 
            </ul>


        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>

</html>